
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to OpenAir 2018 Registration</h1>

  <p>Bitte logge dich oben ein, um dich und deine Kameraden für das Spektakel anzumelden.</p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> Judo Turnier</h2>
      <p>Die Kinder der geladenen Judo-Vereinen können an diesem Plausch-Turnier teilnehmen.</p>
      <p><a class="btn btn-default" href="/events/judo-turnier">Wählen</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> Aikido Stage</h2>
      <p>Aikido Stage</p>
      <p><a class="btn btn-default" href="#">Ausschreibung</a></p>
      <p><a class="btn btn-default" href="/events/aikido-stage">Wählen</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> Judo Sunset Turnier</h2>
      <p>Für die Erwachsenen Judokas des AJVs bieten wir dieses spektakuläre OpenAir-Training. </p>
      <p><a class="btn btn-default" href="#">Ausschreibung</a></p>
      <p><a class="btn btn-default" href="/events/judo-training">Wählen</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

