
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1>Benutzer erstellen</h1>
    <br/>
    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
           {{ form.csrf_token }}
            <div class="form-group">
                {{form.lastname.label}}
                {{form.lastname(placeholder="Nachname", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.firstname.label}}
                {{form.firstname(placeholder="Vorname", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.email.label}}
                {{form.email(placeholder="Email", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.club.label}}
                {{form.club(placeholder="Club", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.password.label}}
                {{form.password(placeholder="Passwort", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.confirm.label}}
                {{form.confirm(placeholder="Passwort (wiederholen)", class_="form-control")}}
            </div>
            <p><input class="btn btn-default btn-danger" type="submit" value="Registrieren"></p>
    </form>
    <p><em>Bereits registriert?</em> Klicke <a href="/">here</a> für's Login.</p>
</div>
{% endblock %}

