
{% extends "layout.html" %}
{% block content %}

<h1>Hallo {{current_user.firstname}} </h1>
<div class="jumbotron">
  <p>
  Wähle unten den Anlass für den du dich oder deine Kameraden anmelden möchtest.
  </p>
</div><!-- /.jumbotron -->
<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <img width="100%" src="/static/header_judo_turnier.jpg" />
      <h2>Judo Turnier</h2>
      <p>Die Kinder der geladenen Judo-Vereinen können an diesem Plausch-Turnier teilnehmen.</p>
      <p><a class="btn btn-default btn-sm" target="blank" href="/static/pdf/AUSSCH_JUDO_KINDER_TURNIER_OPENAIR_2018.pdf"><span class="fa fa-file-pdf-o" aria-hidden="true"></span> Ausschreibung</a></p>
      <p><a class="btn btn-danger" href="/events/judo-turnier">Jetzt anmelden</a></p>
    </div>
    <div class="col-lg-4">
      <img width="100%" src="/static/header_aikido_stage.jpg" />
      <h2>Aikido Stage</h2>
      <p>Aikidokas aus der ganzen Schweiz treffen sich zu einem Meistertraining.</p>
      <p><a class="btn btn-default btn-sm" target="blank" href="/static/pdf/AUSSCH_AIKIDO_STAGE_OPENAIR_2018.pdf"><span class="fa fa-file-pdf-o" aria-hidden="true"></span> Ausschreibung</a></p>
      <p><a class="btn btn-danger" href="/events/aikido-stage">Jetzt anmelden</a></p>
   </div>
    <div class="col-lg-4">
      <img width="100%" src="/static/header_judo_training.jpg" />
      <h2>Judo Training</h2>
      <p>Für die erwachsenen Judokas des AJVs bieten wir dieses spektakuläre OpenAir-Training. </p>
      <p><a class="btn btn-default btn-sm" target="blank" href="/static/pdf/AUSSCH_JUDO_TRAINING_OPENAIR_2018.pdf"><span class="fa fa-file-pdf-o" aria-hidden="true"></span> Ausschreibung</a></p>
      <p><a class="btn btn-danger" href="/events/judo-training">Jetzt anmelden</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

